.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #ccc;
}

.nav-sidebar > li {
  line-height: 30px;
  border-bottom: 1px solid #ccc;
  margin: 0px;
}
.nav-sidebar > li.contact > a {
  color: #333;
}

.nav-sidebar i.active {
  font-size: 24px;
  line-height: 40px;
}

nav > footer {
  margin-top: 10px;
}

.contact-info h1, .contact-info .h1 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.address-info .row {
  margin-bottom: 20px;
}

.form-inline .form-control {
  width: 100%
}

#address > .form-inline > .form-group {
  margin-top: -15px;
}

